vendor/
comision/entorno_toba.env
comision/bin/
comision/instalacion/logs_comandos/
comision/instalacion/i__desarrollo/p__comision/logs/
comision/instalacion/i__desarrollo/p__toba_editor/logs/
credenciales_de_google.txt